.app {

}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 40px;

}

.itemForm {
    min-width: 250px;
    max-width: 350px;
    padding: 10px;
}

.todos {
    /*border: 2px solid black;*/
    display: flex;
}

.container {
    display: flex;
    align-items: center;
}